name: New workflow created

on: push

jobs:
  print:
    name: print
    runs-on: ubuntu-latest
    
    steps:
      
      - name: Checkout
        uses: actions/checkout@v3.3.0
        
      - name: print
        run: echo "Hello world"
        
  create:
    name: create direvtory
    runs-on: ubuntu-latest
    
    steps:
      - name: create dir
        run: |
          mkdir folder
          ls -ltr
          cd folder
        
      - name: make file
        run: index.html
        
      - name: cases
        run: |
          echo Hello world
