name: New workflow created

on: push

jobs:
  print:
    name: print
    runs-on: ubuntu-latest
    
    steps:
      
      - name: Checkout
        uses: actions/checkout@v3.3.0
        
      - name: print
        run: echo "Hello world"
        
  create:
    name: create direvtory
    runs-on: ubuntu-latest
    
    steps:
      - name: create dir
        run: |
          mkdir folder
          ls -ltr
          cd folder
        
      - name: make file
        run: touch index.html style.css
        
      - name: present working directory
        run: pwd
        
      - name: run shell script
        run: |
          #!/bin/bash
          count=10
          if [ $count -ge 10 ]
          then
            echo hello
          else
            echo no hello
          fi
  
  run_shell:
    name: shell script
    runs-on: ubuntu-latest
    
    steps:
      - name: shell
        run: |
         x = $(pwd)
         ls $x
